flask
requests
beautifulsoup4
qrcode
pillow
pyinstaller
xlsxwriter
pandas
openpyxl
numpy
flask-login
flask-wtf
email-validator
flask-bcrypt
flask-sqlalchemy
flask-session
telethon
selenium
webdriver-manager
python-docx